<header>
    <h1>Burger Imagination!</h1>
    <br>
    <img src="../public/assets/img/cheeseburger.png" alt="cheeseburger">    
</header>

<div class="container">
    <div id="not-eaten">
    {{#each burger_data }}
        {{#unless this.devoured}}
        <div class="list-item">
        <span class="burger-id">{{this.id}}</span>
        <span class="burger-name-text">{{this.burger_name}}</span>
        <button type="button" class="devour">Eat It!</button>
        <br>
        </div>
        {{/unless}}
    {{/each}}
    </div>
</div>
