body {
    background-color: #E6C47A;
    color: #38332E;
}

header {
    padding-top: 5%;
    text-align: center;

}

#submit-btn {
    background-color: #3795AD;
}


h1, h4 {
    font-family: 'Permanent Marker', cursive;
}

.borderController {
    background-color: #FBEDD0;
    box-shadow: 10px 10px 5px grey;
}

.newBurgerForm {
    margin: 10px 0px;
}

.enterBurger {
    margin: 20px 0px;
}

.notConsumedBox {
    margin-top: 10px;
}

.consumedBox {
    margin-top: 10px;
}

#notConsumed {
    padding: 5px;
}

#consumed {
    padding: 5px;
}

span {
    font-family: 'Indie Flower', cursive;
}

.list-item {
    margin-bottom: 5px;
}